* {
  padding: 0;
  height: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
button {
  font-family: 'Poppins', sans-serif;
}
button i {
  font-size: 14px;
}
.logo {
  position: fixed;
  left: 10%;
  top: 5%;
  width: 50px;
  height: 50px;
  z-index: 99999999999999999;
  opacity: 0.8;
}

#shoutoutForm {
  width: 95%;
  position: fixed;
  min-height: 50%;
  background: #202122;
  z-index: 99999999999999999;
  top: 15%;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
#shoutoutForm p {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  color: #575757;
}
#shoutoutForm input {
  width: 60%;
  padding: 20px;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #191a1b;
  outline: none;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}
#shoutoutForm input[type='submit'] {
  background: #faba48;
  border-radius: 30px;
  margin-top: 10px;
  line-height: 0;
  width: 30%;
  font-weight: 500;
}
#shoutoutForm input[type='file'] {
  background: none;
  width: 60%;
  line-height: 0;
}
#imagePreview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#imagePreview img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 780px) {
  button {
    font-family: 'Poppins', sans-serif;
  }
  button i {
    font-size: 14px;
  }
  .logo {
    position: fixed;
    left: 10%;
    top: 5%;
    width: 50px;
    height: 50px;
    z-index: 99999999999999999;
    opacity: 0.8;
  }

  #shoutoutForm {
    width: 40%;
    position: fixed;
    min-height: 60%;
    background: #202122;
    z-index: 99999999999999999;
    left: 30%;
    top: 10%;
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  #shoutoutForm p {
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #575757;
  }
  #shoutoutForm input {
    width: 60%;
    padding: 20px;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #191a1b;
    outline: none;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
  }
  #shoutoutForm input[type='submit'] {
    background: #faba48;
    border-radius: 30px;
    margin-top: 10px;
    line-height: 0;
    width: 30%;
    font-weight: 500;
  }
  #imagePreview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background: #191a1b;
  }
  #imagePreview img {
    width: 90px;
    height: 90px;
    margin: 5px 0 0 5px;
    border-radius: 50%;
  }
}
